[influxdb]

host = "192.168.114.30"
port = "8086"
db = "fping"
measurement = "ping"
precision = "ms"
retentionpolicy = "infinite"
user = "fping"
pass = "fpingdakjwgkawjnmbjhwtuia"

[consul]

url = "http://a:a@consul1.dx/v1/catalog/nodes"
