[influxdb]

host = "192.168.114.30"
port = "8086"
db = "fping"
measurement = "ping"
precision = "ms"
retentionpolicy = "infinite"
user = "fping"
pass = "fpingdakjwgkawjnmbjhwtuia"

[consul]

url = "http://127.0.0.1:8500/v1/catalog/nodes"
