[Unit]
Description=infPing
Requires=network-online.target
After=network-online.target consul.service

[Service]
Type=idle
User=root
Group=root
WorkingDirectory=/root/go/src/github.com/umardx/fping
PIDFile=/var/run/infping.pid
ExecStart=/root/go/src/github.com/umardx/fping/fping
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
